* {
  margin: 0;
  padding: 0.25rem;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #E0F7FA, #FFFFFF);
  color: rgb(0, 0, 0);
  place-content: center;
  font-size: 150%;
}

button {
  font-size: 2rem;
}

.bold {
  font-weight: bold;
}

.gold {
  color: gold;
}