.popular-search-title {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #333;
    text-align: center;
    margin: 0px 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }